asgiref==3.8.1
BTrees==6.1
cffi==1.17.1
Django==5.1.5
dnspython==2.7.0
persistent==6.1
pycparser==2.22
pymongo==4.11.1
setuptools==75.8.0
sqlparse==0.5.3
transaction==5.0
zc.lockfile==3.0.post1
ZConfig==4.2
ZODB==6.0
zodbpickle==4.1.1
zope.deferredimport==5.0
zope.interface==7.2
zope.proxy==6.1
