<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    {% block links %}
    {% endblock %}
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import '@material/web/all.js';
      import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
</head>
<body>
  <header class="headerHome">
    <a class="nav-link" href="/">VitaSphere</a>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Acerca de</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Contacto</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Características</a></li>
      {% if user.email %}
        <li class="nav-item"><a class="nav-link" href="/login/">{{user.name}}</a></li>
      {% endif %}
      {% if not user.email %} 
        <li class="nav-item"><a class="nav-link" href="/login/">Inicio de sesión</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registro</a></li>
      {% endif %}
    </ul>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="footer">
    <div class="footerContainer">
      <div class="footerSection">
        <h3>Contáctanos</h3>
        <p>info@vitasphere.com</p>
        <p>+52 (614) 136-3900</p>
      </div>
      <div class="footerSection">
        <h3>Legales</h3>
        <p><a href="/">Política de Privacidad</a></p>
        <p><a href="/">Términos y Condiciones</a></p>
      </div>
      <div class="footerSection">
        <h3>Síguenos</h3>
        <div class="socialIcons">
          <a href="/"><i class="fab fa-youtube"></i></a>
          <a href="/"><i class="fab fa-instagram"></i></a>
          <a href="/"><i class="fab fa-facebook"></i></a>
        </div>
        <p>@vitasphere</p>
      </div>
    </div>
    <hr>
    <p>2024 VitaSphere. Todos los derechos reservados.</p>
  </footer>
</body>
</html>