{% extends 'defaultHeader.html' %}
{% load static %}
{% block content %}
<div>
    <div><h2>Monitoreo de Salud en Tiempo Real para su Tranquilidad</h2>
        <p> vitaSphere le mantiene conectado con la salud de tu ser querido, 
            en cualquier momento y en cualquier lugar.
        </p>
    </div>
    <div>
        <img src="../images/viejito.jpg" alt="Descripción de la imagen">
    </div>
</div>
<div>
    <h2>Sobre vitasphere</h2>
    <div>vitasphere es un sistema de monitoreo de salud duselado para birndar Tranquilidad
        tanto a los usuarios como a sus cuidadores. Nuestra tecnologia avanzada rastrea los signos
        vitales en tiempo real, lo que garantiza respuestas rapidas a cualquier problema de salud
    </div>
    <div>
        <li>Gestion segura y privada de datos</li>
        <li> Gestion segura y privada de datos</li>
        <li>Alertas instantaneas para situaciones de emergencia</li>
    </div>
</div>
{% endblock %}