{% extends 'defaultHeader.html' %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
<div class="homeContainer">
    <div class="wellcome">
        <div class="wellcomeText">
            <h1>Monitoreo de Salud en Tiempo Real para su Tranquilidad</h1>
            <p>Vitasphere te mantiene conectado con la  salud de tu ser querido, en cualquier momento y en cualquier lugar.</p>
        </div>    
        <img src="{% static 'images/usoDispositivo.png' %}" alt="Adulto mayor utilizando el dispositivo">
    </div>
    <div class="about">
        <h2>Sobre VitaSphere</h2>
        <div>
            <p>VitasSphere es un sistema de monitoreo de salud diseñado para brindar tranquilidad tanto a los usuarios como a sus cuidadores. Nuestra tecnología avanzada rastrea los signos vitales en tiempo real, lo que garantiza respuestas répidas a cualquier problema de salud.</p>
            <ul>
                <li>Gestion segura y privada de datos</li>
                <li>Monitoreo preciso de signos vitales en tiempo real</li>
                <li>Alertas instantáneas para situaciones de emergencia</li>
            </ul>
        </div>
    </div>
    <div class="features">
        <h2>Características Principales</h2>
        <div class="featuresContainer">
            <div class="card">
                <div class="cardContainer">
                    <h4><b>Seguimiento de signos vitales en tiempo real</b></h4>
                    <p>Revise pulso, nivel de oxígeno y temperatura con precisión y facilidad.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardContainer">
                    <h4><b>Alertas de emergencia automáticas</b></h4>
                    <p>Reciba notificaciones instantáneas cuando los signos vitales indiquen posibles problemas de salud.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardContainer">
                    <h4><b>Integración de aplicaciones móviles</b></h4>
                    <p>Acceda a los datos de salud y alertas desde cualquier lugar mediante la app móvil.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="call">
        <h1>¿Listo para Experimentar la Tranquilidad?</h1>
        <p>Únete a VitaSphere hoy y tome el control de su salud.</p>
        <md-filled-tonal-button
            type="button"
            class="redirect"
            id="button"
            name="button"
            href="/register">                
            Únirse ahora
        </md-filled-tonal-button>
    </div>
</div>
{% endblock %}
